<h1>Listing dealattendees</h1>

<table>
  <tr>
    <th>Deal</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dealattendees.each do |dealattendee| %>
  <tr>
    <td><%= dealattendee.deal_id %></td>
    <td><%= dealattendee.user_id %></td>
    <td><%= link_to 'Show', dealattendee %></td>
    <td><%= link_to 'Edit', edit_dealattendee_path(dealattendee) %></td>
    <td><%= link_to 'Destroy', dealattendee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dealattendee', new_dealattendee_path %>
